@charset "UTF-8";

.youtube{
  background-color: #FBDDD8;
  font-size: 20;
  font-weight: bold;
}

.mirrativ{
  background-color: #C6E7F6;
  font-size: 20;
  font-weight: bold;
}

.sirohakai{
  background-color: #F6F6CE;
  font-size: 20;
}

.surinuke{
  background-color: #E1F6CE;
  font-size: 20;
}

.kombo{
  background-color: #CEF6E8;
  font-size: 20;
}
